In [56]:
import pandas as pd
import numpy as np

In [38]:
# extract 

ld_add = pd.Timestamp.today()

tblpo_2023 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblPO-jan-dec-2023-export-11-08-2025.xlsx")
tblpo_2024 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblPO-jan-dec-2024-export-11-08-2025.xlsx")
tblpo_2025 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblPO-jan-dec-2025-export-11-08-2025.xlsx")

access_tblpo_2023 = pd.read_excel(tblpo_2023, "tblPO")
access_tblpo_2024 = pd.read_excel(tblpo_2024, "tblPO")
access_tblpo_2025 = pd.read_excel(tblpo_2025, "tblPO")

In [39]:
#access_tblpo_2023.insert(0, "row_num", access_tblpo_2023.index + 1)
#access_tblpo_2023.insert(1, "batch_load", ld_add)

In [40]:
access_tblpo_2023.shape

(758, 9)

In [41]:
access_tblpo_2023.dtypes

POID                       int64
PONumber                  object
ProjectID                  int64
RaisedBy                  object
Site                      object
Notes                     object
SSMA_TimeStamp           float64
DateCreated       datetime64[ns]
Alemba                    object
dtype: object

In [51]:
access_tblpo_2023["SSMA_TimeStamp"].isna().sum()

758

In [52]:
access_tblpo_2024["SSMA_TimeStamp"].isna().sum()

631

In [53]:
access_tblpo_2025["SSMA_TimeStamp"].isna().sum()

295

In [35]:
access_tblpo_2023.insert(1, "batch_load", ld_add)
access_tblpo_2024.insert(1, "batch_load", ld_add)
access_tblpo_2025.insert(1, "batch_load", ld_add)

In [44]:
access_tblpo_23_25 = pd.concat([access_tblpo_2023, access_tblpo_2024, access_tblpo_2025], ignore_index=True)

In [45]:
access_tblpo_23_25.insert(1, "batch_load", ld_add)

In [46]:
parsed_access_tblpo_23_25 = access_tblpo_23_25.copy()

In [55]:
parsed_access_tblpo_23_25.dtypes

POID                       int64
batch_load        datetime64[us]
PONumber                  object
ProjectID                  int64
RaisedBy                  object
Site                      object
Notes                     object
SSMA_TimeStamp           float64
DateCreated       datetime64[ns]
Alemba                    object
dtype: object

In [58]:
parsed_access_tblpo_23_25["PONumber"] = parsed_access_tblpo_23_25["PONumber"].str.strip().replace("", np.nan)
parsed_access_tblpo_23_25["RaisedBy"] = parsed_access_tblpo_23_25["RaisedBy"].str.strip().replace("", np.nan)
parsed_access_tblpo_23_25["Site"] = parsed_access_tblpo_23_25["Site"].str.strip().replace("", np.nan)
parsed_access_tblpo_23_25["Notes"] = parsed_access_tblpo_23_25["Notes"].str.strip().replace("", np.nan)
parsed_access_tblpo_23_25["Alemba"] = parsed_access_tblpo_23_25["Alemba"].str.strip().replace("", np.nan)

In [59]:
parsed_access_tblpo_23_25

,POID,batch_load,PONumber,ProjectID,RaisedBy,Site,Notes,SSMA_TimeStamp,DateCreated,Alemba
0,1,2025-08-15 17:57:00.771785,34,4,11,ALL s,Test,NaN,2023-03-29 11:01:06.620,NaN
1,2,2025-08-15 17:57:00.771785,PO1234444,4,Chris Riley,1,Test,NaN,2023-03-29 11:01:06.620,NaN
2,16,2025-08-15 17:57:00.771785,40645512,6,NaN,RLH,NaN,NaN,2023-03-29 11:01:06.620,NaN
3,17,2025-08-15 17:57:00.771785,Unknown M715,8,NaN,NaN,NaN,NaN,2023-03-29 11:01:06.620,NaN
4,18,2025-08-15 17:57:00.771785,RHLNet-10022021,19,NaN,NaN,NaN,NaN,2023-03-29 11:01:06.620,NaN
...,...,...,...,...,...,...,...,...,...,...
1679,2696,2025-08-15 17:57:00.771785,41178130,38,NAZ,NaN,Replacement device,NaN,2025-08-08 00:00:00.000,2926824
1680,2697,2025-08-15 17:57:00.771785,41178650,38,NAZ,NaN,NaN,NaN,2025-08-08 00:00:00.000,2915050
1681,2698,2025-08-15 17:57:00.771785,41178649,38,Naz,NaN,NaN,NaN,2025-08-08 00:00:00.000,2914837
1682,2699,2025-08-15 17:57:00.771785,41177905,38,Johura,RLH,x1 Samsung A16 5G for Francesca Boote for Band...,NaN,2025-08-08 00:00:00.000,2945915
1683,2700,2025-08-15 17:57:00.771785,41178651,38,NAZ,NaN,NaN,NaN,2025-08-08 00:00:00.000,2915123