In [2]:
import pandas as pd
import numpy as np

In [3]:
# extract 

ld_add = pd.Timestamp.today()


tblUnit_2023 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblUnit-jan-dec-2023-export-11-08-2025.xlsx")
tblUnit_2024 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblUnit-jan-dec-2024-export-11-08-2025.xlsx")
tblUnit_2025 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblUnit-jan-aug-2025-export-11-08-2025.xlsx")

access_tblUnit_2023 = pd.read_excel(tblUnit_2023, "tblUnit")
access_tblUnit_2024 = pd.read_excel(tblUnit_2024, "tblUnit")
access_tblUnit_2025 = pd.read_excel(tblUnit_2025, "tblUnit")

In [4]:
access_tblUnit_2023.insert(1, "batch_load", ld_add)
access_tblUnit_2024.insert(1, "batch_load", ld_add)
access_tblUnit_2025.insert(1, "batch_load", ld_add)

In [5]:
access_tblunit_23_25 = pd.concat([access_tblUnit_2023, access_tblUnit_2024, access_tblUnit_2025], ignore_index=True)

In [6]:
parsed_access_tblunit_23_25 = access_tblunit_23_25.copy()

In [7]:
parsed_access_tblunit_23_25.columns

Index(['UnitID', 'batch_load', 'ProductID', 'POID', 'StoreID', 'SubStoreID',
       'RequestID', 'TransferID', 'Status', 'SerialNumber', 'DateRecieved',
       'UnitBarcode', 'AssetNumber', 'New', 'Accessories', 'OutDate',
       'OutProjectID', 'OutPOID', 'OutNotes', 'SSMA_TimeStamp',
       'AllocatedUser', 'LastAudit', 'DateCreated', 'IMEI_1', 'IMEI_2',
       'MobilePhone'],
      dtype='object')

In [8]:
dropcs = ["StoreID", "SubStoreID", "TransferID", "UnitBarcode", "New", "Accessories", "OutDate", "OutProjectID", "OutPOID", "OutNotes", "SSMA_TimeStamp", "LastAudit"]


parsed_access_tblunit_23_25 = parsed_access_tblunit_23_25.drop(columns=dropcs)

In [9]:
parsed_access_tblunit_23_25.head(1)

,UnitID,batch_load,ProductID,POID,RequestID,Status,SerialNumber,DateRecieved,AssetNumber,AllocatedUser,DateCreated,IMEI_1,IMEI_2,MobilePhone
0,62385,2025-08-26 17:26:15.153216,22,297,0.0,Booked In,NaN,2023-03-30,NaN,NaN,2023-03-30 10:04:28.223,NaN,NaN,NaN

In [29]:
parsed_access_tblunit_23_25["parsed_IMEI_2"] = parsed_access_tblunit_23_25["IMEI_2"].astype("object")
parsed_access_tblunit_23_25["parsed_Status"] = parsed_access_tblunit_23_25["Status"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_SerialNumber"] = parsed_access_tblunit_23_25["SerialNumber"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_AssetNumber"] = parsed_access_tblunit_23_25["AssetNumber"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_AllocatedUser"] = parsed_access_tblunit_23_25["AllocatedUser"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_IMEI_1"] = parsed_access_tblunit_23_25["IMEI_1"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_MobilePhone"] = parsed_access_tblunit_23_25["MobilePhone"].str.strip().replace("", np.nan)

# parsed_access_tblunit_23_25["parsed_IMEI_2"] = parsed_access_tblunit_23_25["parsed_IMEI_2"].str.strip().replace("", np.nan) # not working as expected due various formats
parsed_access_tblunit_23_25["parsed_MobilePhone"] = parsed_access_tblunit_23_25["MobilePhone"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_DateRecieved"] = pd.to_datetime(parsed_access_tblunit_23_25["DateRecieved"], format="%d/%m/%Y", dayfirst=True, errors="coerce")
parsed_access_tblunit_23_25["parsed_DateCreated"] = pd.to_datetime(parsed_access_tblunit_23_25["DateCreated"], format="%d/%m/%Y", dayfirst=True, errors="coerce")

parsed_access_tblunit_23_25["parsed_UnitID"] = pd.to_numeric(parsed_access_tblunit_23_25["UnitID"], errors="coerce").astype("Int64")
parsed_access_tblunit_23_25["parsed_ProductID"] = pd.to_numeric(parsed_access_tblunit_23_25["ProductID"], errors="coerce").astype("Int64")
parsed_access_tblunit_23_25["parsed_POID"] = pd.to_numeric(parsed_access_tblunit_23_25["POID"], errors="coerce").astype("Int64")
parsed_access_tblunit_23_25["parsed_RequestID"] = pd.to_numeric(parsed_access_tblunit_23_25["RequestID"], errors="coerce").astype("Int64")

In [51]:
parsed_access_tblunit_23_25["parsed_DateCreated"] = pd.to_datetime(parsed_access_tblunit_23_25["DateCreated"], format="%d/%m/%Y", dayfirst=True, errors="coerce")

parsed_access_tblunit_23_25["parsed_ProductID_str"] = (parsed_access_tblunit_23_25["parsed_ProductID"].astype("Int64").astype("str"))

In [52]:
# parsing issue tbc

cleaned_values = []

for value in parsed_access_tblunit_23_25["parsed_IMEI_2"]:
    if pd.isnull(value):
        value_str = str(value).strip() #converrt string, remove spaces
        if value_str == "":
            cleaned_values.append(np.nan) # if empty set to NaN
        else:
            cleaned_values.append(value_str)
    else:
        cleaned_values.append(np.nan) # if already null, keep NaN


parsed_access_tblunit_23_25["parsed_IMEI_2"] = cleaned_values

In [53]:
parsed_access_tblunit_23_25.dtypes

UnitID                           int64
batch_load              datetime64[us]
ProductID                        int64
POID                             int64
RequestID                      float64
Status                          object
SerialNumber                    object
DateRecieved                    object
AssetNumber                     object
AllocatedUser                   object
DateCreated             datetime64[ns]
IMEI_1                          object
IMEI_2                         float64
MobilePhone                     object
parsed_IMEI_2                   object
parsed_Status                   object
parsed_SerialNumber             object
parsed_AssetNumber              object
parsed_AllocatedUser            object
parsed_IMEI_1                   object
parsed_MobilePhone              object
parsed_DateCreated      datetime64[ns]
parsed_DateRecieved     datetime64[ns]
parsed_UnitID                    Int64
parsed_ProductID                 Int64
parsed_POID                      Int64
parsed_RequestID                 Int64
parsed_ProductID_str            object
dtype: object

In [54]:
import datetime

mandatory_fields = ["parsed_UnitID", "parsed_ProductID", "parsed_POID", "parsed_RequestID", "parsed_Status", "parsed_SerialNumber", "parsed_DateRecieved", "parsed_AssetNumber", "parsed_AllocatedUser", "parsed_DateCreated", "parsed_IMEI_2", "parsed_IMEI_1", "parsed_MobilePhone"]

source_system = "ACCESS"
system_table = "tblUnit"
data_period = "23-24 to 24-25"
date_checked = datetime.date.today()


allowed_start_date = pd.to_datetime("2023-01-01")
allowed_end_date = pd.to_datetime("2025-08-11")
valid_rstatus = ["Allocated", "Assigned", "Booked In", "Completed", "Returned"]
# product_id_stored = [""] # trial file parser

In [55]:
product_id_stored = []

with open("tblProduct-export-26-08-2025-consolidated.txt", "r") as productid_list_file:
    for line in productid_list_file:
        value = line.strip()
        if value:
            product_id_stored.append(value)

In [57]:
# tblUnit errors ongoing:


summary_records = []



# missing fields
for field in mandatory_fields:
    missing_count = parsed_access_tblunit_23_25[field].isna().sum()
    summary_records.append({
        "error_type": "Missing Field",
        "source_system": source_system,
        "system_table": system_table,
        "data_period": data_period,
        "date_checked": date_checked,
        "field_name": field,
        "error_count": missing_count
    })




# format error / invalid format 
for field in mandatory_fields:
    if not field.startswith("parsed_"):
        continue
    raw_field = field.replace("parsed_", "")
    if field not in parsed_access_tblunit_23_25.columns or raw_field not in parsed_access_tblunit_23_25:
        continue
    format_error_count = parsed_access_tblunit_23_25[parsed_access_tblunit_23_25[raw_field].notna() & parsed_access_tblunit_23_25[field].isna()].shape[0]
    summary_records.append({
        "error_type": "Invalid Format",
        "source_system": source_system,
        "system_table": system_table,
        "data_period": data_period,
        "date_checked": date_checked,
        "field_name": field,
        "error_count": format_error_count
    })




# out of range error rstatus
out_of_range_rstatus_count = parsed_access_tblunit_23_25[
    parsed_access_tblunit_23_25["parsed_Status"].notna() &
    ~parsed_access_tblunit_23_25["parsed_Status"].isin(valid_rstatus)].shape[0]

summary_records.append({
    "error_type": "Out of Range Values",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "Request Status",
    "error_count": out_of_range_rstatus_count
})



# out of range error - date entry / created
out_of_range_datecreated_count = parsed_access_tblunit_23_25[parsed_access_tblunit_23_25["parsed_DateCreated"].notna() &
(
    (parsed_access_tblunit_23_25["parsed_DateCreated"] < allowed_start_date) |
    (parsed_access_tblunit_23_25["parsed_DateCreated"] > allowed_end_date)
)].shape[0]

summary_records.append({
    "error_type": "Out of Range Dates",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "DateCreated",
    "error_count": out_of_range_datecreated_count
})



# out of range error - date entry / received
out_of_range_datereceived_count = parsed_access_tblunit_23_25[parsed_access_tblunit_23_25["parsed_DateRecieved"].notna() &
(
    (parsed_access_tblunit_23_25["parsed_DateRecieved"] < allowed_start_date) |
    (parsed_access_tblunit_23_25["parsed_DateRecieved"] > allowed_end_date)
)].shape[0]

summary_records.append({
    "error_type": "Out of Range Dates",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "DateReceived",
    "error_count": out_of_range_datereceived_count
})




# Duplicate UnitID 

df_aunitid = parsed_access_tblunit_23_25
aunit_unitid = "parsed_UnitID"
duplicate_count_unitid = df_aunitid[aunit_unitid].dropna().duplicated().sum()

if duplicate_count_unitid > 0:
        summary_records.append({
    "error_type": "Duplicate UnitID",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "UnitID",
    "error_count": duplicate_count_unitid
    })




# Duplicate SerialNumber

df_aserialnumber = parsed_access_tblunit_23_25
aunit_serialnumber = "parsed_SerialNumber"
duplicate_count_serialnumber = df_aserialnumber[aunit_serialnumber].dropna().duplicated().sum()

if duplicate_count_serialnumber > 0:
        summary_records.append({
    "error_type": "Duplicate Serial Number",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "SerialNumber",
    "error_count": duplicate_count_serialnumber
    })






# Duplicate AssetNumber

df_aassetnumber = parsed_access_tblunit_23_25
aunit_assetnumber = "parsed_AssetNumber"
duplicate_count_assetnumber = df_aassetnumber[aunit_assetnumber].dropna().duplicated().sum()

if duplicate_count_assetnumber > 0:
        summary_records.append({
    "error_type": "Duplicate Asset Number",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "AssetNumber",
    "error_count": duplicate_count_assetnumber
    })




# unexpected product id error

maskfilter_productid = ~parsed_access_tblunit_23_25["parsed_ProductID_str"].isin(product_id_stored)

unexpected_productid_count = parsed_access_tblunit_23_25.loc[
      maskfilter_productid & parsed_access_tblunit_23_25["parsed_ProductID_str"].notna()].shape[0]


if unexpected_productid_count > 0:
      summary_records.append({
    "error_type": "Unexpected Product ID",
    "source_system": source_system,
    "system_table": system_table,
    "data_period": data_period,
    "date_checked": date_checked,
    "field_name": "ProductID",
    "error_count": unexpected_productid_count      
      })

In [58]:
unexpected_productid_count

1

In [48]:
duplicate_count_unitid

0

In [49]:
duplicate_count_assetnumber

17

In [50]:
duplicate_count_serialnumber

608

In [59]:
error_summary_access_tblUnit = pd.DataFrame(summary_records)

In [ ]:
error_summary_access_tblUnit #hhhhh

,error_type,source_system,system_table,data_period,date_checked,field_name,error_count
0,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_UnitID,0
1,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_ProductID,0
2,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_POID,0
3,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_RequestID,184
4,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_Status,1
5,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_SerialNumber,25465
6,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_DateRecieved,37421
7,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_AssetNumber,31411
8,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_AllocatedUser,34811
9,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_DateCreated,0
10,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_IMEI_2,37241
11,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_IMEI_1,36396
12,Missing Field,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_MobilePhone,36306
13,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_UnitID,0
14,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_ProductID,0
15,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_POID,0
16,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_RequestID,0
17,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_Status,0
18,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_SerialNumber,0
19,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_DateRecieved,37421
20,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_AssetNumber,0
21,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_AllocatedUser,0
22,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_DateCreated,0
23,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_IMEI_2,0
24,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_IMEI_1,106
25,Invalid Format,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,parsed_MobilePhone,0
26,Out of Range Values,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,Request Status,118
27,Out of Range Dates,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,DateCreated,8
28,Out of Range Dates,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,DateReceived,0
29,Duplicate Serial Number,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,SerialNumber,608
30,Duplicate Asset Number,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,AssetNumber,17
31,Unexpected Product ID,ACCESS,tblUnit,23-24 to 24-25,2025-08-26,ProductID,1