In [2]:
import pandas as pd
import numpy as np

In [4]:
# extract 

ld_add = pd.Timestamp.today()


tblUnit_2023 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblUnit-jan-dec-2023-export-11-08-2025.xlsx")
tblUnit_2024 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblUnit-jan-dec-2024-export-11-08-2025.xlsx")
tblUnit_2025 = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Access data\tblUnit-jan-aug-2025-export-11-08-2025.xlsx")

access_tblUnit_2023 = pd.read_excel(tblUnit_2023, "tblUnit")
access_tblUnit_2024 = pd.read_excel(tblUnit_2024, "tblUnit")
access_tblUnit_2025 = pd.read_excel(tblUnit_2025, "tblUnit")

In [5]:
access_tblUnit_2023.insert(1, "batch_load", ld_add)
access_tblUnit_2024.insert(1, "batch_load", ld_add)
access_tblUnit_2025.insert(1, "batch_load", ld_add)

In [6]:
access_tblunit_23_25 = pd.concat([access_tblUnit_2023, access_tblUnit_2024, access_tblUnit_2025], ignore_index=True)

In [7]:
parsed_access_tblunit_23_25 = access_tblunit_23_25.copy()

In [8]:
parsed_access_tblunit_23_25.columns

Index(['UnitID', 'batch_load', 'ProductID', 'POID', 'StoreID', 'SubStoreID',
       'RequestID', 'TransferID', 'Status', 'SerialNumber', 'DateRecieved',
       'UnitBarcode', 'AssetNumber', 'New', 'Accessories', 'OutDate',
       'OutProjectID', 'OutPOID', 'OutNotes', 'SSMA_TimeStamp',
       'AllocatedUser', 'LastAudit', 'DateCreated', 'IMEI_1', 'IMEI_2',
       'MobilePhone'],
      dtype='object')

In [11]:
dropcs = ["StoreID", "SubStoreID", "TransferID", "UnitBarcode", "New", "Accessories", "OutDate", "OutProjectID", "OutPOID", "OutNotes", "SSMA_TimeStamp", "LastAudit"]


parsed_access_tblunit_23_25 = parsed_access_tblunit_23_25.drop(columns=dropcs)

In [12]:
parsed_access_tblunit_23_25.head(1)

,UnitID,batch_load,ProductID,POID,RequestID,Status,SerialNumber,DateRecieved,AssetNumber,AllocatedUser,DateCreated,IMEI_1,IMEI_2,MobilePhone
0,62385,2025-08-19 20:19:20.526298,22,297,0.0,Booked In,NaN,2023-03-30,NaN,NaN,2023-03-30 10:04:28.223,NaN,NaN,NaN

In [16]:
#parsed_access_tblunit_23_25["parsed_IMEI_2"] = parsed_access_tblunit_23_25["IMEI_2"].astype("object") - need to separate
parsed_access_tblunit_23_25["parsed_Status"] = parsed_access_tblunit_23_25["Status"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_SerialNumber"] = parsed_access_tblunit_23_25["SerialNumber"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_AssetNumber"] = parsed_access_tblunit_23_25["AssetNumber"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_AllocatedUser"] = parsed_access_tblunit_23_25["AllocatedUser"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_IMEI_1"] = parsed_access_tblunit_23_25["IMEI_1"].str.strip().replace("", np.nan)

#parsed_access_tblunit_23_25["parsed_IMEI_2"] = parsed_access_tblunit_23_25["parsed_IMEI_2"].str.strip().replace("", np.nan) - need to separate
parsed_access_tblunit_23_25["parsed_MobilePhone"] = parsed_access_tblunit_23_25["MobilePhone"].str.strip().replace("", np.nan)
parsed_access_tblunit_23_25["parsed_DateRecieved"] = pd.to_datetime(parsed_access_tblunit_23_25["DateRecieved"], format="%d/%m/%Y", dayfirst=True, errors="coerce")

parsed_access_tblunit_23_25["parsed_UnitID"] = pd.to_numeric(parsed_access_tblunit_23_25["UnitID"], errors="coerce").astype("Int64")
parsed_access_tblunit_23_25["parsed_ProductID"] = pd.to_numeric(parsed_access_tblunit_23_25["ProductID"], errors="coerce").astype("Int64")
parsed_access_tblunit_23_25["parsed_POID"] = pd.to_numeric(parsed_access_tblunit_23_25["POID"], errors="coerce").astype("Int64")
parsed_access_tblunit_23_25["parsed_RequestID"] = pd.to_numeric(parsed_access_tblunit_23_25["RequestID"], errors="coerce").astype("Int64")