In [3]:
import pandas as pd

In [49]:
#import tracker file

xlsx = pd.ExcelFile(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - GitHub Classroom Repo\angel_pythonmodulecode3\Extract table\tracker data\MasterProcurementTracker-apr2024-jul2025-exportjul252025.xlsx")

In [50]:
print(xlsx.sheet_names)

['Sheet1', 'BneLog', 'Master', 'Initiatives', 'LISTS', 'ICTKit', 'Restock', 'EUC iPads', 'PIVOTRpt']

In [66]:
# extract transformation

procurement_tracker = pd.read_excel(xlsx, sheet_name="Master", skiprows=4)
procurement_tracker = procurement_tracker.drop(columns=["Recharged", "RechgDate",
       "RechargedBy", "Funded", "Notes", "Requisition/PO",
       "Temp - Item details to be added in to Master Telephony Tracker",
       "Unnamed: 26", "Unnamed: 27", "Unnamed: 28", "Unnamed: 29"])
procurement_tracker = procurement_tracker.rename(columns={"`": "Request_Date", "BudgetCode": "Budget_Code", "BulkBucket": "Bulk_Bucket", "ISC ProjMgr": "ISC_ProjManager", "Service User": "Service_User", "CatalogueItem": "Catalogue_Item", "CollDate DD/MM/YYYY": "Collection_Date", "Requisition No:": "Requisition_No", "CostPerUnit": "Cost_PerUnit", "Total cost": "Total_Cost", "BPS Analyst ": "BPS_Analyst"})

In [69]:
procurement_tracker.dtypes

Request_Date        object
FY                  object
ALEMBA              object
Budget_Code         object
FP                  object
Bulk_Bucket         object
Funding             object
ISC_ProjManager     object
Site                object
Service_User        object
Type                object
Catalogue_Item      object
Cost_PerUnit       float64
QTY                float64
Status              object
Collection_Date     object
Total_Cost          object
Requisition_No      object
BPS_Analyst         object
dtype: object

In [ ]:
# extract parsing columns


Request_Date - date
QTY - integer
Total_Cost - floats
Collection_Date - date

In [84]:
tracker_parsed = procurement_tracker.copy()

In [85]:
tracker_parsed["parsed_Request_Date"] = pd.to_datetime(tracker_parsed["Request_Date"], format="%d/%m/%Y", dayfirst=True, errors="coerce")
tracker_parsed["parsed_QTY"] = pd.to_numeric(tracker_parsed["QTY"], errors="coerce").astype("Int64")
tracker_parsed["parsed_Total_Cost"] = pd.to_numeric(tracker_parsed["Total_Cost"], errors="coerce")
tracker_parsed["parsed_Collection_Date"] = pd.to_datetime(tracker_parsed["Collection_Date"], format="%d/%m/%Y", dayfirst=True, errors="coerce")

In [86]:
tracker_parsed

,Request_Date,FY,ALEMBA,Budget_Code,FP,Bulk_Bucket,Funding,ISC_ProjManager,Site,Service_User,...,QTY,Status,Collection_Date,Total_Cost,Requisition_No,BPS_Analyst,parsed_Request_Date,parsed_QTY,parsed_Total_Cost,parsed_Collection_Date
0,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,195,NaN,Angel,2025-01-22,1,195.0,2025-02-19
1,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,11,NaN,Angel,2025-01-22,1,11.0,2025-02-19
2,2025-01-22 00:00:00,24-25,2622678,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,66,NaN,Angel,2025-01-22,1,66.0,2025-02-19
3,2025-01-22 00:00:00,24-25,2622723,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,195,NaN,Angel,2025-01-22,1,195.0,2025-02-19
4,2025-01-22 00:00:00,24-25,2622723,CP1511,NaN,NaN,NaN,NaN,CW,Bethany Brown,...,1.0,Completed,2025-02-19 00:00:00,11,NaN,Angel,2025-01-22,1,11.0,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,2025-07-23 00:00:00,25-26,7846294,182660,NaN,NaN,NaN,NaN,RLH,Meera Manirajan,...,1.0,Procured,NaN,NaN,60878381,Johura,2025-07-23,1,NaN,NaT
1794,2025-07-23 00:00:00,25-26,2945915,G15168,NaN,NaN,NaN,NaN,MEH,Francesca Boote,...,1.0,Procured,NaN,NaN,60878409,Johura,2025-07-23,1,NaN,NaT
1795,2025-07-23 00:00:00,25-26,2945577,G15168,NaN,NaN,NaN,NaN,MEH,Francesca Boote,...,1.0,In progress,NaN,NaN,60878417,Johura,2025-07-23,1,NaN,NaT
1796,2025-07-14 00:00:00,25-26,2927229\t,ADM200,NaN,NaN,NaN,NaN,SBH,Anna-Kay Black for Michelle Walters,...,1.0,In progress,NaN,NaN,NaN,Johura,2025-07-14,1,NaN,NaT
1797,2025-07-10 00:00:00,25-26,2922849,CM9320,NaN,NaN,NaN,NaN,WCH,Sophia Clarke,...,1.0,In progress,NaN,NaN,NaN,Johura,2025-07-10,1,NaN,NaT