In [3]:
import pandas as pd

In [12]:
!pip install xlrd

Collecting xlrd
  Obtaining dependency information for xlrd from https://files.pythonhosted.org/packages/1a/62/c8d562e7766786ba6587d09c5a8ba9f718ed3fa8af7f4553e8f91c36f302/xlrd-2.0.2-py2.py3-none-any.whl.metadata
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Using cached xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2

In [14]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\angel\anaconda3\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\angel\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [16]:
pip install pyxlsb

Collecting pyxlsb
  Obtaining dependency information for pyxlsb from https://files.pythonhosted.org/packages/7e/92/345823838ae367c59b63e03aef9c331f485370f9df6d049256a61a28f06d/pyxlsb-1.0.10-py2.py3-none-any.whl.metadata
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl.metadata (2.5 kB)
Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install lxml py arrow

Requirement already satisfied: lxml in c:\users\angel\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: py in c:\users\angel\anaconda3\lib\site-packages (1.11.0)
Requirement already satisfied: arrow in c:\users\angel\anaconda3\lib\site-packages (1.2.3)
Requirement already satisfied: python-dateutil>=2.7.0 in c:\users\angel\anaconda3\lib\site-packages (from arrow) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\angel\anaconda3\lib\site-packages (from python-dateutil>=2.7.0->arrow) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
with open(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Oracle data\no-capital-oracle-2022-2023-export-01-08-2025.xls", "rb") as f: print(f.read(10))


#ncap_2023_2024 = pd.read_excel(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Oracle data\no-capital-oracle-2022-2023-export-01-08-2025.xls", engine="pyxlsb")

b'<html>\r\n<!'

In [ ]:
ncap_2023_2024 = pd.read_html(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Oracle data\no-capital-oracle-2022-2023-export-01-08-2025.xls")

In [2]:
import pandas as pd
df = pd.read_parquet(r"C:\Users\angel\OneDrive\Documents\Multiverse DS ADF 2\Module 3\Module 3 - Portfolio Project\Oracle data\no-capital-oracle-2022-2023-export-01-08-2025.parquet")

In [5]:
df

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col24,col25,col26,col27,col28,col29,col30,col31,col32,col33
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN